{% extends 'base.html' %}



{% block title %}talkgamblers.com{% endblock %}
{% block desc %}The list promotions at of the best online casinos and bookmakers. Here you can express your opinion and study the current offers of the gambling industry.{% endblock desc %}
{% block cann %}{% endblock cann %}

{% block meta_og %}
<meta property="og:type" content="website" />
<meta property="og:site_name" content="talkgamblers.com" />
<meta property="og:url" content="https://talkgamblers.com" />
<meta property="og:title" content="talkgamblers.com" />
<meta property="og:description" content="The list promotions at of the best online casinos and bookmakers. Here you can express your opinion and study the current offers of the gambling industry." />
<meta property="og:image" content="" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@pioner_vova" />
<meta name="twitter:creator" content="@pioner_vova" />
<meta name="twitter:title" content="https://talkgamblers.com" />
<meta name="twitter:description" content="The list promotions at of the best online casinos and bookmakers. Here you can express your opinion and study the current offers of the gambling industry." />
<meta name="twitter:image" content="" />
{% endblock meta_og %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
{% endblock css %}


{% block content %}
    {% for i in data %}
        <p>
            {{ i.title }}
        </p>
    {% endfor %}
{% endblock content %}



{% block script %}
    <script src=""></script>
{% endblock script %}