{% extends 'base.html' %}


{% block title %}{{ promotion.title }}{% endblock %}
{% block desc %}{{ promotion.description }}{% endblock desc %}
{% block cann %}https://talkgamblers.com/promotions/{{promotion.slug}}{% endblock cann %}

{% block meta_og %}
<meta property="og:type" content="article" />
<meta property="og:site_name" content="talkgamblers.com" />
<meta property="og:url" content="https://talkgamblers.com/promotions/{{promotion.slug}}" />
<meta property="og:title" content="{{ promotion.title }} - Promotions (2020)" />
<meta property="og:description" content="{{promotion.description}}" />
<meta property="og:article:modified_time" content="{{promotion.created}}" />
<meta property="og:image" content="https://talkgamblers.com/static/" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@pioner_vova" />
<meta name="twitter:creator" content="@pioner_vova" />
<meta name="twitter:title" content="{{ promotion.title }} - Promotions (2021)" />
<meta name="twitter:description" content="{{promotion.description}}" />
<meta name="twitter:image" content="https://talkgamblers.com/static/" />
{% endblock meta_og %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/promo-detail.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ajaxcomments.min.css') }}" />
{% endblock css %}



{% block content %}

    <div class="main-content">
                <article>
                    <div class="article-detail">

                        <div class="article-detail-tags">
                        </div>

                        <div class="article-detail-title"><h1 style="font-family:'IBM Plex Sans',sans-serif;font-size:19px;font-weight:500;color:#373b40;">{{ promotion.title }}</h1></div>
                        <div class="article-detail-date" style="font-family:'Noto Sans',sans-serif;font-size:13px;">Update: {{ promotion.created }}

                        </div>
                        <div class="article-detail-body" style="font-family:'Noto Sans',sans-serif;color:#373b40;font-size:14px"><em>{{ promotion.description|safe }}</em><br><br>{{ promotion.body|safe }}</div>
                    </div>


                    <div class="container-article-detail-comment">

                    </div>
                </article>

                <aside>
                    {% include 'casino-asside.html' %}
                </aside>
    </div>

{% endblock content %}

{% block script %}
    <script async src="{{ url_for('static', filename='js/progressive-image.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script  src="{{ url_for('static', filename='js/ajaxcomments.min.js') }}"></script>
{% endblock script %}




